@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Matemasie&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Matemasie&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0px;
}
header{
    background-color: #a06ee1;
    /*background-color: #331940;*/
    color: white;
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.welcome{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

main{
    display: flex;
    background-color: #222831;
    /*background: linear-gradient(#a06ee1,#fff6f6);*/
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
}

.form{
    font-family: "Roboto", sans-serif;
    font-weight: 50;
    font-style: normal;
    font-weight: 400;
    width: 350px;
    color: white;
}

.form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input, form textarea{
    outline: unset;
    padding: 20px;
    background-color: #eeeeee;
    min-width: 300px;
    border: 2px, solid #a06ee1;
    border-radius: 10px;
}

form input[type=submit]{
    background-color: #a06ee1;
    color: white;
    cursor: pointer;
}

.correndo{
}